<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <razoyo>
            <razoyo_cars>
                <cars_list_api>https://exam.razoyo.com/api/cars</cars_list_api>
            </razoyo_cars>
        </razoyo>
    </default>
</config>
